*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;    
 }
 .side_box{
    width: 25%;
    margin: 20px;    
 }
 .menu_button{
   display: none;
 }
 .menu{
    width: 90%;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 0;
 }
 .main_box{
    width: 75%;       
    margin: 5px 0;   
 }
 .dropdown{
   display: none;
 }
 @media screen and (max-width: 500px){
   .container{
      flex-direction: column;
   }
   .side_box{
      display: none;
   }
   .main_box{
      margin-top: 20px;
      margin-left: 10px;
   }
   .dropdown {
      float: left;
      overflow: hidden;
      display: block;
      background-color: rgb(43, 39, 39);
    }
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 .dropdown:hover .dropdown-content {
   display: block;
 }
 .dropdown-content a:hover {
   background-color: #ddd;
 }
 }